div.wrapper{
    width: 100%;
    height: 300px;
    margin: 100px auto;
    position: relative;
    font-size: 150px;
    background: #003;
}
span{
    display: block;
    width:  1px;
    height: 1px;
    background: #c0f;
    -webkit-transition: all 1s;
    -moz-transition:    all 1s;
    -ms-transition:     all 1s;
    -o-transition:      all 1s;
    transition:         all 1s;
    position: absolute;
}
input.input {
    display: block;
    border-bottom: 2px solid #603;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    height: 20px;
    line-height: 20px;

}
canvas{
    display: none;
}